// .header
//     display: flex
//     justify-content: space-between
//     align-items: center
//     margin-top: 21px
//     position: fixed
//     >nav
//         position: fixed
//         background: #ffff
//         z-index: 1000
//         width: 100%
//         top: 0
//         >div
//             >div
//                 display: flex
//                 justify-content: space-between
//                 align-items: center
// .list__wrapper
//     &-ul
//         display: flex
//         align-items: center
//     &-item
//         text-decoration: none
//         list-style-type: none
//         margin-right: 43px
//         font-family: 'Montserrat'
//         font-style: normal
//         font-weight: 400
//         font-size: 16px
//         line-height: 142.5%
//         color: #000000
//         cursor: pointer 
//         text-decoration: none
//         list-style-type: none
//         >a
//             font-family: 'Montserrat'
//             font-style: normal
//             font-weight: 400
//             font-size: 16px
//             line-height: 142.5%
//             color: #000000
//             cursor: pointer 
//             text-decoration: none
//             list-style-type: none
//         &:nth-last-child(1)
//             margin-right: 0
// .btn-course
//     width: 164px
//     height: 52px
//     border: 1px solid #0075FF
//     border-radius: 70px
//     background-color: #ffff
//     display: flex
//     justify-content: center
//     align-items: center
//     >img
//         margin-left: 8px
// .logo
//     font-family: 'Montserrat'
//     font-style: normal
//     font-weight: 500
//     font-size: 22px
//     line-height: 68px
//     color: #000000
.select-language
    background: #EEEDEB
    border-radius: 4px
    >option
        background: #FFFFFF
.path
    margin-top: 100px
    &__wrapper
        &-item
            font-family: 'Montserrat'
            font-style: normal
            font-weight: 400
            font-size: 12px
            line-height: 142.5%
            color: #000000
            margin-right: 10px
            position: relative
            >img
                margin-left: 10px
                margin-top: 8px
            &:nth-last-child(1)
                color: #0075FF
            &::after
                position: absolute
                display: none
                content: ''
                width: 4px
                height: 4px
                transform: rotate(-45deg)
                right: -15px
                top: 5px
                border: solid black
                border-width: 0 3px 3px 0
                &:nth-last-child(1)
                    display: none
#language
    width: 59px
    height: 27px


.menu
    list-style-type: none
    background: #FFFFFF
    border-radius: 4px
    position: absolute
    opacity: 0
    z-index: 5
    display: none
    padding: 5px
    >li
        cursor: pointer
        &:hover
            background: #FFFFFF
.select
    background: #EEEDEB
    cursor: pointer
    border-radius: 4px
    display: flex
    padding: 6px
    align-items: center
.selected-img
    margin-right: 5px
    height: 15px
.caret
    width: 0
    height: 0
.menu-active
    background: #FFFFFF
.menu-open
    display: block
    opacity: 1


// .hamburger
//     display: none
//     position: absolute
//     right: 10px
//     top: 50%
//     transform: translateY(-50%)
//     width: 25px
//     >span
//         display: block
//         height: 2px
//         width: 100%
//         background-color: #000000
//         margin-bottom: 5px
//     &__active
//         >span
//             &:nth-child(1)
//                     transform: translateY(3px) rotate(-45deg)
//             &:nth-child(2)
//                 display: none
//             &:nth-child(3)
//                 transform: translateY(-4px) rotate(45deg)
